/* formataçao global da pagina  */
* {
    /* RESETANDO OS / PREENCHIMENTO */
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "DM Serif text", serif;
}

header {
    background-color: #D8D8C0;
    /* cor de fundo */
    padding: 1rem;
    /* preenchimento interno = 32px */

    /* propriedades de alinhamento */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* header fixo */


    position: sticky;
    /* posicionamento fixo do header */

    /* zerando a esquerda */
    left: 0;

    /* zerando o topo */
    top: 0;

    /* eixo cartesiano / profundidade */
    z-index: 999;
}


/* ESTILIZAÇAO DA LOGO */

.logo-Jk {
    
    /* largura responsiva da img */
    width: 8rem;

    /* o auto servira como uma altura automatica em relaçao a tela o navegado */
    height: auto;

}

.ul-list {
    /* aplicando formataçao na ul */

    /* colocando as li lado a lado */
    display: flex;
    /* espaçamento entre as listas  */
    gap: 15px;

}

.ul-list li a {
    /* removendo a estilizaçao padrao da ancora  */

    text-decoration: none;
    color:BLACK;

}

.section-01 {
    background-image: url(imagem/Sem\ Título-1.jpg) ;
    background-size: cover;
    background-position: top;
    padding: 13rem;
}

.section-02 {
    
}

.caixa-icones {

}

.texto-caixa {

    
}

/* @media (max-width: 1000px) {section

    /* background-image: url (imagem/TABLET.jpg);

    padding: 10rem
    
    } */

@media (max-width: 500px) {
    .section-01 {
        background-image: url(imagem/banner-tablet.jpg);
        padding: 8rem;
    }
}

nav {
    /* aqui estamos ocultando o nenu para versoes mobilie */
    /* display: none; */
    /* responsavel por ocultar o menu ou qualquer outra proriedade  */
}

/*  @media (max-width: 500px) {
    header { 
        background-color: aqua;
    
            } 
        }  
    */

/* @MEDIA vai para definir configuraçoes / estilizaçoes para tamanhos de tela em especifico */











/* @MEDIA vai servir para definir confioguraçoes/
estilizaçoes para tamanhos de tela */