/* formataçao global da pagina  */
* {
    /* RESETANDO OS / PREENCHIMENTO */
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "DM Serif text", serif;
}

header {
    background-color: #D8D8C0;
    /* cor de fundo */
    padding: 1rem;
    /* preenchimento interno = 32px */

    /* propriedades de alinhamento */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* header fixo */


    position: sticky;
    /* posicionamento fixo do header */

    /* zerando a esquerda */
    left: 0;

    /* zerando o topo */
    top: 0;

    /* eixo cartesiano / profundidade */
    z-index: 999;
}

header img {
    width:14rem ;
}


/* ESTILIZAÇAO DA LOGO */

.logo-Jk {
    
    /* largura responsiva da img */
    width: 8rem;

    /* o auto servira como uma altura automatica em relaçao a tela o navegado */
    height: auto;

}

.ul-list {
    /* aplicando formataçao na ul */

    /* colocando as li lado a lado */
    display: flex;
    /* espaçamento entre as listas  */
    gap: 15px;

}

.ul-list li a {
    /* removendo a estilizaçao padrao da ancora  */

    text-decoration: none;
    color:BLACK;

}

.section-01 {
    background-image: url(imagem/Sem\ Título-1.jpg) ;
    background-size: cover;
    background-position: top;
    padding: 13rem;
}

/* estamos chamando p titulo da sessao */
.tex-content h3 {
    font-size: 2rem;/*tamanho da fonte*/
    font-weight: 800;/*peso da fonte*/
    text-transform: uppercase;/*tornando o texto em caixa alta */
    margin-bottom: 2rem;/*margem inferior do titulo*/
}

.section-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.caixa {
    background-color: rgb(6, 7, 7); /*cor de fundo da caixa */
    color: rgb(247, 248, 250);/*cor da letra */
    font-size: 1.3rem;/*tamanho da letra*/
    width: 25%;/*largura de todas as caixas em porcentagem*/
    height: 17rem;/*altura da caixa */
    box-shadow: 15PX 15PX 25PX black;/*sombra da caixa*/
    border-radius: 10PX;/*arredondamento da borda*/
    min-width: 300px;/*largura ninima da caixa evita que fique muito pequeno */
    transition: 0.8s;/*transiçao para o hover */
    cursor: pointer; /*ativar cursor do mouse*/
    padding: 1rem;/*atribuindo um preenchimentointerno*/



}

.pai-caixa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;/*habilitando a quebra de caixa*/
    padding: 2rem;

    
}
/* chamei a div icones para centralizar os mesmos */
.caixa-icons i {
    color: rgb(241, 232, 232);/*alterei a cor do icone*/
    font-size: 2rem;/*aumentei a tamanho do icone*/
    margin-top: 1rem;/*espaçamento superior*/
    margin-bottom: 0.8rem;/*espaçamento inferior*/

}

.caixa-icons {
    text-align: center;/*alinhamento dos icones ao centro*/
}

/* estilizaçao do paragrafo */
.texto-caixa p {
    font-size: 1.2rem;/*tamanho da letra */
    margin-bottom: 0.8rem;/*espaçamento inferior*/
    line-height: 2.5rem;/*espaçamento das letras*/
    
}

/* estilizaçao do botao */
.texto-caixa button {
    width: 8rem;/*largura*/
    background-color: blanchedalmond;/*cor de fundo*/
    color: rgb(11, 11, 12);/*cor da letra*/
    border: none;/*removendo a borda padrao*/
    padding: 0.5rem;/*preenchimento interno do botao*/
    border-radius: 10px;
}

/* chamando a div pai do paragrafo e botao para alinhamento */
.texto-caixa {
    text-align: center;/*alinhamento dos itens (podemos usar o flexbox tbm)*/
}

.tex-content p {
    color: rgba(60, 59, 59,0.866);
    text-align: center;
    font-size: 1.2rem;
}

.section-03 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    padding: 2rem;
    flex-wrap: wrap;
    flex-direction: ;

}

.executiva-01 h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;/*tamanho da fonte*/
    font-weight: 800;/*peso da fonte*/
    text-transform: uppercase;/*tornando o texto em caixa alta */
    margin-bottom: 2rem;/*margem inferior do titulo*/
}
    



.executiva {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

/* @media (max-width: 1000px) {section

    /* background-image: url (imagem/TABLET.jpg);

    padding: 10rem
    
    } */

@media (max-width: 500px) {
    .section-01 {
        background-image: url(imagem/banner-tablet.jpg);
        padding: 8rem;
    }
}

nav {
    /* aqui estamos ocultando o nenu para versoes mobilie */
    /* display: none; */
    /* responsavel por ocultar o menu ou qualquer outra proriedade  */
}

/*  @media (max-width: 500px) {
    header { 
        background-color: aqua;
    
            } 
        }  
    */

/* @MEDIA vai para definir configuraçoes / estilizaçoes para tamanhos de tela em especifico */











/* @MEDIA vai servir para definir confioguraçoes/
estilizaçoes para tamanhos de tela */